.h1 {
  margin-bottom: 27px;
}

.subtitle {
  max-width: 345px;
  margin: 0 0 22px;

  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.48px;
  text-align: center;
}

.toggler {
  margin-bottom: 64px;
}

.scanner {
  margin-bottom: 40px;
}

.notification {
  max-width: 272px;
  padding-top: 56px;

  color: #7E7E7E;
  font-size: 12px;
  text-align: center;

  background-image: url(../../shared/images/big-eye-icon.svg);
  background-repeat: no-repeat;
  background-position: center top;
}
