.radio {
  position: relative;

  display: flex;
  align-items: center;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.box {
  position: relative;

  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
}

.box::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 16px;
  border-radius: 50%;

  background-color: #E9E9E9;
}

.input:checked + .box {
  border-color: #277156;
  background-color: #ffffff;
  background-image: url(../images/tick.svg);
  background-position: center;
}

.input:checked + .box::after {
  background-color: #277156;
}

.radio:hover .box,
.input:focus + .box,
.input:checked:focus + .box {
  border-color: #5aaf90;
}

.radio:hover .box:after,
.input:focus + .box:after,
.input:checked:focus + .box:after {
  background-color: #5aaf90;
}

.text {
  margin-left: 8px;
}
